USE [master]
GO
/****** Object:  Database [BDTEST]    Script Date: 21/02/2020 09:51:29 p.m. ******/
CREATE DATABASE [BDTEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDTEST', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BDTEST.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDTEST_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BDTEST_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDTEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDTEST]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 21/02/2020 09:51:29 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos](
	[id] [int] NULL,
	[nombre] [char](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[prueba]    Script Date: 21/02/2020 09:51:29 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prueba](
	[columna] [int] NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
